@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  width: 100vw;
  overflow-x: hidden;
}

.converter-content {
  height: calc(100vh - 69px);
  overflow-y: auto;
}
